
head{
    h1{
        text-align: center;
    }
    img{
        width: 50%;
        align-self: center;
    }
}

body{
    background-color: rgb(249, 220, 171);
    h1{
        text-align: center;
    }
}